{% extends "members/base.html" %}

{% load humanize %}
{% load widget_tweaks %}

{% block content %}

<form method="post" action="." role="form" class="form-horizontal">
    {% csrf_token %}
    {{ form.id }}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{{ message.level }}:</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


    {{ form.errors }}
    <div class="row">
        <div class="col-md-8">

            <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                <label class="col-sm-3 control-label" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
                <div class="col-sm-7">
                    {{ form.name.errors }}
                    {{ form.name|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group {% if form.phone.errors %} has-error {% endif %}">
                <label class="col-sm-3 control-label" for="{{ form.phone.auto_id }}">{{ form.phone.label }}</label>
                <div class="col-sm-4">
                    {{ form.phone.errors }}
                    {{ form.phone|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group {% if form.address.errors %} has-error {% endif %}">
                <label class="col-sm-3 control-label" for="{{ form.address.auto_id }}">{{ form.address.label }}</label>
                <div class="col-sm-9">
                    {{ form.address.errors }}
                    {{ form.address|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{% url 'internal:other_expenses:index' %}" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
    $("#id_date").datepicker({
        format: "yyyy-mm-dd"
    })
    .on("changeDate", function(){
        $("#id_date").datepicker("hide");
    });
});
</script>
{% endblock %}