{% extends "other_expenses/base.html" %}

{% load humanize %}

{% block sub_menu %}
    <a href="{% url 'admin:other_expenses:add' %}" class="btn btn-primary">Add New Other Expenses</a>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{{  message.level }}:</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if other_expenses_list %}
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th class="col-md-6">Remarks</th>
                    <th class="col-md-2">Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in other_expenses_list %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.remarks }}</td>
                    <td class="text-right">{{ item.amount|floatformat:0|intcomma }}</td>
                    <td class="text-center">
                        <a href="{% url 'admin:other_expenses:edit' item.id %}">Edit</a>
                        |
                        <a href="{% url 'admin:other_expenses:delete' item.id %}" class="delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No other expenses are available.</p>
    {% endif %}
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){

});
</script>
{% endblock %}