{% extends "comparisons/base.html" %}

{% load humanize %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{{  message.level }}:</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if product_list %}
        <p>
            <span class="glyphicon glyphicon-star promo"></span> Promo
        </p>
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="">Name</th>
                    <th class="col-md-1">Buy Price</th>
                    <th class="col-md-1">Margin</th>
                    <th class="col-md-1">Sell Price</th>
                    {% for merchant in merchant_list %}
                    <th class="col-md-1">{{ merchant.code }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in product_list %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td><a href="{% url 'internal:products:detail' item.id %}">{{ item.name }}</a></td>
                    <td class="text-right">{{ item.buy_price|floatformat:0|intcomma }}</td>
                    <td class="text-right">{{ item.margin|floatformat:0|intcomma }}</td>
                    <td class="text-right {% if item.is_cheapest %}success{% endif %}">{{ item.price|floatformat:0|intcomma }}</td>
                    {% for comparison in item.comparison_list %}
                    <td class="text-right {% if comparison.is_cheapest %}danger{% endif %}">
                        {% if comparison.is_on_promotion %}<span class="glyphicon glyphicon-star promo"></span>{% endif %}
                        {{ comparison.price|floatformat:0|intcomma }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No product comparisons are available.</p>
    {% endif %}

<style>
    div.checkbox {
        margin-left: 15px;
    }
</style>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){

    $('div.choices').on('click', 'tr a.select', function(e){
        e.preventDefault();
        $a = $(this);
        $.ajax({
            url: $a.prop('href') + '&action=select',
            dataType: "json",
            success: function(response){
                if( response.status === "success" ) {
                    $tr = $a.closest('tr');
                    $a.removeClass("select").addClass("remove").html("Remove");
                    $record = $tr.closest('td');
                    $record.find('div.selected table').append($tr);
                }
            },
        });
    });

    $('div.selected').on('click', 'tr a.remove', function(e){
        e.preventDefault();
        $a = $(this);
        $.ajax({
            url: $a.prop('href') + '&action=remove',
            dataType: "json",
            success: function(response){
                if( response.status === "success" ) {
                    $tr = $a.closest('tr');
                    $a.removeClass("remove").addClass("select").html("Select");
                    $record = $tr.closest('td');
                    $record.find('div.choices table').append($tr);
                }
            },
        });
    });

    $("input[name=merchant]").change(function(){
        var code = $(this).val();
        if( $(this).is(":checked") ) {
            $("div.choices").find("tr."+code).show();
        }
        else {
            $("div.choices").find("tr."+code).hide();
        }
    });
});
</script>
{% endblock %}