{% extends "comparisons/base.html" %}

{% load humanize %}
{% load pagination_tags %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{{  message.level }}:</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if product_list %}
    {% autopaginate product_list_pagination max_per_page %}
        {% paginate %}
        <p>
            <form class="form-inline" method="get" action=".">
                <input type="hidden" name="page" value="{{ page }}">
                Min <strong>Similarity Ratio</strong>:
                <div class="form-group">
                    <input type="text" class="form-control" name="min_similarity_ratio" value="{{ min_similarity_ratio }}" style="width: 75px;">
                </div>
                &nbsp; Show <strong>Available Choices</strong> from:
                {% for merchant in merchant_list %}
                <div class="checkbox">
                    <input type="checkbox" name="merchant" value="{{ merchant.code }}" {% if merchant.is_selected %}checked{% endif %}> {{ merchant.code }}
                </div>
                {% endfor %}
                &nbsp; <button type="submit" class="btn btn-sm btn-primary">Update Filter</button>
            </form>
        </p>
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="col-md-9">Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in product_list %}
                <tr>
                    <td>{{ forloop.counter0|add:product_list.start_index }}.</td>
                    <td>
                        <a href="{% url 'products:detail' item.id %}">{{ item.name }}</a>

                        <div class="row">
                            <div class="col-md-10 selected">
                                <table class="table table-condensed table-striped table-bordered">
                                    {% for comparison in item.selected_list %}
                                    <tr>
                                        <td class="text-right">{{ comparison.ratio|floatformat:2|intcomma }}</td>
                                        <td>{{ comparison.seller.code }}</td>
                                        <td>{{ comparison.name }}</td>
                                        <td class="text-right">{{ comparison.price|floatformat:0|intcomma }}</td>
                                        <td class="text-center"><a class="remove" href="{% url 'comparisons:edit' %}?product={{ item.id }}&comparison={{ comparison.id }}">Remove</a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="col-md-offset-1 col-md-10 choices">
                                <fieldset>
                                    {% if item.comparison_list or item.selected_list %}
                                    <form class="form-inline">
                                        Available Choices:
                                        {% for code in comparison_merchant_ids %}
                                        <div class="checkbox">
                                            <input type="checkbox" class="merchant-filter" value="{{ code}}" checked> {{ code }}
                                        </div>
                                        {% endfor %}
                                    </form>

                                    <table class="table table-condensed table-striped table-bordered">
                                        {% for comparison in item.comparison_list %}
                                        <tr class="{{ comparison.seller.code }}">
                                            <td class="text-right">{{ comparison.ratio|floatformat:2|intcomma }}</td>
                                            <td>{{ comparison.seller.code }}</td>
                                            <td>{{ comparison.name }}</td>
                                            <td class="text-right">{{ comparison.price|floatformat:0|intcomma }}</td>
                                            <td class="text-center"><a class="select" href="{% url 'comparisons:edit' %}?product={{ item.id }}&comparison={{ comparison.id }}">Select</a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    {% endif %}
                                </fieldset>
                            </div>
                        </div>
                    </td>
                    <td class="text-right">{{ item.price|floatformat:0|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    {% else %}
        <p>No product comparisons are available.</p>
    {% endif %}

<style>
    div.checkbox {
        margin-left: 15px;
    }
</style>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){

    $('div.choices').on('click', 'tr a.select', function(e){
        e.preventDefault();
        $a = $(this);
        $.ajax({
            url: $a.prop('href') + '&action=select',
            dataType: "json",
            success: function(response){
                if( response.status === "success" ) {
                    $tr = $a.closest('tr');
                    $a.removeClass("select").addClass("remove").html("Remove");
                    $record = $tr.closest('td');
                    $record.find('div.selected table').append($tr);
                }
            },
        });
    });

    $('div.selected').on('click', 'tr a.remove', function(e){
        e.preventDefault();
        $a = $(this);
        $.ajax({
            url: $a.prop('href') + '&action=remove',
            dataType: "json",
            success: function(response){
                if( response.status === "success" ) {
                    $tr = $a.closest('tr');
                    $a.removeClass("remove").addClass("select").html("Select");
                    $record = $tr.closest('td');
                    $record.find('div.choices table').append($tr);
                }
            },
        });
    });

    $("input.merchant-filter").change(function(){
        var code = $(this).val();
        if( $(this).is(":checked") ) {
            $(this).closest("div.choices").find("tr."+code).show();
        }
        else {
            $(this).closest("div.choices").find("tr."+code).hide();
        }
    });
});
</script>
{% endblock %}