{% extends "sales/base.html" %}

{% load humanize %}
{% load widget_tweaks %}

{% block content %}

<form method="post" action="." role="form" class="form-horizontal">
    {% csrf_token %}
    {{ formset.management_form }}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{{ message.level }}:</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


    <div class="row">
        <div class="col-md-8">

            <div class="form-group {% if form.date.errors %} has-error {% endif %}">
                <label class="col-sm-3 control-label" for="{{ form.date.auto_id }}">{{ form.date.label }}</label>
                <div class="col-sm-4">
                    {{ form.date.errors }}
                    {{ form.date|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group {% if form.discount.errors %} has-error {% endif %}">
                <label class="col-sm-3 control-label" for="{{ form.discount.auto_id }}">{{ form.discount.label }}</label>
                <div class="col-sm-4">
                    {{ form.discount.errors }}
                    {{ form.discount|add_class:"form-control" }}
                </div>
            </div>
             <div class="form-group {% if form.remarks.errors %} has-error {% endif %}">
                <label class="col-sm-3 control-label" for="{{ form.remarks.auto_id }}">{{ form.remarks.label }}</label>
                <div class="col-sm-6">
                    {{ form.remarks.errors }}
                    {{ form.remarks|add_class:"form-control"|attr:"rows:2" }}
                </div>
            </div>
       </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset class="sales-items">
                <legend>Sales Items (Gross Income: <span id="total-income">0</span>)</legend>

                {% if formset.non_form_errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {% for error in formset.non_form_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
                <table class="table table-bordered table-striped table-hover table-vm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>Guided Price</th>
                            <th>Sell Price</th>
                            <th>In Stock</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="product {% if form.product.errors %} has-error {% endif %}">
                                {{ form.product.errors }}
                                {{ form.product|add_class:"form-control" }}
                            </td>
                            <td class="guided-price text-right">
                                {% if form.instance.product %}
                                {{ form.instance.product.price|intcomma }}
                                {% endif %}
                            </td>
                            <td class="price {% if form.price.errors %} has-error {% endif %}">
                                {{ form.price.errors }}
                                {{ form.price|add_class:"form-control" }}
                            </td>
                            <td class="stock text-right">
                                {% if form.instance.product %}
                                {{ form.instance.product.stock|intcomma }}
                                {% endif %}
                            </td>
                            <td class="{% if form.quantity.errors %} has-error {% endif %}">
                                {{ form.quantity.errors }}
                                {{ form.quantity|add_class:"form-control" }}
                            </td>
                            <td class="text-center"></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{% url 'admin:sales:index' %}" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    $("#id_date").datepicker({
        format: "mm/dd/yyyy"
    })
    .on("changeDate", function(){
        $("#id_date").datepicker("hide");
    });

    $(".sales-items input").on("blur", function(){
        var totalIncome = 0;
        $(".sales-items tr").each(function(){
            var price = $(this).find("input[name$='-price']").val();
            var quantity = $(this).find("input[name$='-quantity']").val();
            if( $.isNumeric(price) && $.isNumeric(quantity) ) {
                totalIncome += parseFloat(price) * parseFloat(quantity);
            }
        });

        $("#total-income").html(numberWithCommas(totalIncome));
    });


    function renumberRow(row) {
        $(".sales-items tbody tr.dynamic-form").each(function(index){
            $(this).find("td:first-child").html( (index + 1) + ".");
        });
    }

    $('.sales-items tbody tr').formset({
        prefix: '{{ formset.prefix }}',
        addText: "Add Another Row",
        deleteText: "Delete",
        added: function(row) {
            renumberRow(row);
        },
        deleted: function(row) {
            renumberRow(row);
        }
    });

    var loader = $("<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span>");

    $(".sales-items tbody ").on("change", ".product select",function(){
        var tr = $(this).closest("tr");
        if( $(this).val() ) {
            tr.find("td.guided-price").html(loader.clone());
            tr.find("td.stock").html(loader.clone());
            $.get("/admin/products/" + $(this).val()).done(function(product){
                tr.find("td.guided-price").html(numberWithCommas(product.price));
                tr.find("td.stock").html(numberWithCommas(product.stock));

                if( !tr.find("td.price input").val() ) {
                    tr.find("td.price input").val(product.price);
                }
                else {
                    tr.find("td.price input").val("");
                }
            }).fail(function(){
                tr.find("td.guided-price").html("");
                tr.find("td.stock").html("");
            });
        }
        else {
            tr.find("td.guided-price").html("");
            tr.find("td.stock").html("");
        }
    });
});
</script>
{% endblock %}