{% extends "sales/base.html" %}

{% load humanize %}

{% block sub_menu %}
    <a href="{% url 'sales:add' %}" class="btn btn-primary">Add New Sales</a>
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">{{  message.level }}:</span>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% if sales_list %}
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th class="col-xs-2">Date</th>
                <th class="col-xs-2">Net Income</th>
                <th class="col-xs-2">Total Items</th>
                <th>Remarks</th>
                <th class="col-xs-1">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for sales in sales_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                    <td><a href="{% url 'sales:detail' sales.id %}">{{ sales.date }}</a></td>
                <td class="text-right">{{ sales.net_income|floatformat:0|intcomma }}</td>
                <td class="text-right">{{ sales.total_items }}</td>
                <td>{{ sales.remarks }}</td>
                <td class="text-center">
                    <a href="{% url 'sales:edit' sales.id %}">Edit</a>
                    |
                    <a href="{% url 'sales:delete' sales.id %}" class="delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No sales are available.</p>
{% endif %}
{% endblock %}