{% extends "base.html" %}

{% load humanize %}

{% block content %}
{% if product_list %}
    <table>
        <tr>
            <th>Brand</th>
            <th>Product</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    {% for product in product_list %}
        <tr>
            <td>{{ product.brand }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price|intcomma }}</td>
            <td>{{ product.stock }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No products are available.</p>
{% endif %}
{% endblock %}