{% extends "products/base.html" %}

{% load humanize %}

{% block sub_menu %}
    <a href="{% url 'products:add' %}" class="btn btn-primary">Add New Product</a>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">{{  message.level }}:</span>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

{% if product_list %}
    <p>
        <span class="legend-item out-of-stock"></span> Out of stock
    </p>
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Brand</th>
                <th>Product</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>Margin</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in product_list %}
            <tr class="{% if product.is_out_of_stock %}out-of-stock{% endif %}">
                <td>{{ forloop.counter }}.</td>
                <td>{{ product.brand }}</td>
                <td>
                    {% if product.remarks %}
                    <button type="button" class="pops btn btn-danger btn-xs" aria-label="Left Align" data-toggle="popover" title="Remarks" data-trigger="focus" data-content="{{ product.remarks }}">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    </button>
                    {% endif %}

                    {{ product.name }}
                </td>
                <td class="text-right">{{ product.buy_price|floatformat:0|intcomma }}</td>
                <td class="text-right">{{ product.price|floatformat:0|intcomma }}</td>
                <td class="text-right">{{ product.margin|floatformat:0|intcomma }}</td>
                <td class="text-right">{{ product.stock }}</td>
                <td class="text-center">
                    <a href="{% url 'products:edit' product.id %}" class="">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No products are available.</p>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
});
</script>
{% endblock %}