{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-xs-offset-3 col-md-4 col-xs-6">
            <h1 class="form-signin-heading">Gemah Ripah</h1>
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Your username and password didn't match.
            </div>
            {% endif %}

            <form class="form-signin" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <p class="text-center">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </p>

                <p class="text-center">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </p>

                <p>
                    <button class="btn btn-block btn-primary" type="submit">Sign in</button>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}