{% extends "shop/base.html" %}

{% load humanize %}

{% block content %}
{% if product_list %}
    <h4>Products were last updated at {{ latest_product.last_modified }}</h4>
    <p>
        <span class="legend-item out-of-stock"></span> Out of stock
    </p>
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Brand</th>
                <th>Product</th>
                <th>Price</th>
                <th>In Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for product in product_list %}
            <tr class="{% if product.is_out_of_stock %}out-of-stock{% endif %}">
                <td>{{ forloop.counter }}.</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.name }}</td>
                <td class="text-right">{{ product.price|floatformat:0|intcomma }}</td>
                <td class="text-center">
                    {% if product.stock >= 5 %}
                        <span class="label label-success">AVAILABLE</span>
                    {% else %}
                        {% if product.stock > 0 %}
                            <span class="label label-warning">LAST {{ product.stock }}</span>
                        {% else %}
                            <span class="label label-danger">N/A</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No products are available.</p>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
});
</script>
{% endblock %}