{% extends "base.html" %}

{% load humanize %}
{% load widget_tweaks %}

{% block content %}

<form method="post" action="." role="form" class="form-horizontal">
    {{ formset.management_form }}
    <div class="row">
        <div class="col-md-8">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ form.date.auto_id }}">{{ form.date.label }}:</label>
                <div class="col-sm-5">
                    {{ form.date|add_class:"form-control" }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ form.discount.auto_id }}">{{ form.discount.label }}:</label>
                <div class="col-sm-5">
                    {{ form.discount|add_class:"form-control" }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                    <tr>
                        <td>{{ form.product|add_class:"form-control" }}</td>
                        <td>{{ form.price|add_class:"form-control" }}</td>
                        <td>{{ form.quantity|add_class:"form-control" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}