{% extends "purchase/base.html" %}

{% load humanize %}

{% block sub_menu %}
    <a href="{% url 'internal:purchase:add' %}" class="btn btn-primary">Add New Purchase</a>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{{  message.level }}:</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if purchase_list %}
        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Supplier</th>
                    <th>Net Expenses</th>
                    <th>Total Items</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchase_list %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td><a href="{% url 'internal:purchase:detail' purchase.id %}">{{ purchase.date }}</a>{% if not purchase.is_active %} <em class="text-muted">(draft)</em>{% endif %}</td>
                    <td>{{ purchase.supplier }}</td>
                    <td class="text-right">{{ purchase.net_expenses|floatformat:0|intcomma }}</td>
                    <td class="text-right">{{ purchase.total_items }}</td>
                    <td>{{ purchase.remarks }}</td>
                    <td class="text-center">
                        <a href="{% url 'internal:purchase:edit' purchase.id %}">Edit</a>
                        |
                        <a href="{% url 'internal:purchase:delete' purchase.id %}" class="delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No purchases are available.</p>
    {% endif %}
{% endblock %}