{% extends "purchase/base.html" %}

{% load humanize %}

{% block content %}
{% if purchase_list %}
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Supplier</th>
                <th>Net Expenses</th>
                <th>Total Items</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchase_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td><a href="{% url 'purchase:detail' purchase.id %}">{{ purchase.date }}</a></td>
                <td>{{ purchase.supplier }}</td>
                <td class="text-right">{{ purchase.net_expenses|intcomma }}</td>
                <td class="text-right">{{ purchase.total_items }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No purchases are available.</p>
{% endif %}
{% endblock %}