{% extends "base.html" %}

{% load humanize %}

{% block content %}
{% if purchase_list %}
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Supplier</th>
                <th>Total</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchase_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ purchase.date }}</td>
                <td>{{ purchase.supplier }}</td>
                <td class="text-right">{{ purchase.total }}</td>
                <td class="text-right">{{ purchase.discount|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No purchases are available.</p>
{% endif %}
{% endblock %}