body {
    padding-top: 70px;
}

.out-of-stock {
    background-color: #82B6E8 !important;
}

.legend-item {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    float: left;
}

.errorlist {
    color: #a94442;
}

#sub-menu a.btn {
    margin-top: 1.5em;
    margin-left: 0.5em;
}

.page-header.main-header {
    margin-top: 0;
}

table.table-vm > tbody > tr > td {
    vertical-align: middle !important;
}

body.shop {
    padding-bottom: 70px;
}

body.shop .out-of-stock {
    background-color: #f9f2f4 !important;
    color: #c7254e !important;
}

body.shop .legend-item.out-of-stock {
    background-color: #c7254e !important;
}


body.shop footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    background-color: #f5f5f5;
}


body.shop .navbar-brand{
    font-weight: bold;
    padding-top: 10px;
}

body.shop .navbar-brand .small-info{
    position: absolute;
    bottom: 3px;
    font-weight: normal;
    font-size:0.63em;
    color: #999;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

fieldset legend {
    overflow: hidden;
}