body {
    padding-top: 70px;
}

.out-of-stock {
    background-color: #82B6E8 !important;
}

.legend-item {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    float: left;
}

.errorlist {
    color: #a94442;
}

#sub-menu a.btn {
    margin-top: 1.5em;
    margin-left: 0.5em;
}

.page-header.main-header {
    margin-top: 0;
}

table.table-vm > tbody > tr > td {
    vertical-align: middle !important;
}

body.shop .out-of-stock {
    background-color: #f9f2f4 !important;
    color: #c7254e !important;
}

body.shop .legend-item.out-of-stock {
    background-color: #c7254e !important;
}
